/* GLOBAIS */
:root {
    --lightGrey: #FAFAFA;
    --borderColor:  #DBDBDB;
}

a {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

/* ESTILIZAÇÂO DA TOP BAR */
body {
    width: 100vw;
    background-color: var(--lightGrey);
}

.top-bar {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid var(--borderColor);
    position: fixed;
    top: 0;
    left: 0;
}

.top-bar-centralizer {
    width: 100%;
    height: 100%;
    max-width: 975px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 25%;
    height: 100%;
}

.logo img {
    width: 103px;
    height: 29px;
}

.search {
    background-color: var(--lightGrey);
    border: 1px solid var(--borderColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 28px;
    border-radius: 3px;
}

.navigation-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 222px;
    height: 25px;
    padding: 0px 0px 0px 24px;
}

#profile-pic-container {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
}

#profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 11px;
}

/* FIM DA ESTILIZAÇÃO DA TOP BAR */

/* ########################################################## */

/* ESTILIZAÇÂO DO COPOR DA PÀGINA */

.main-content-container {
    width: 100%;
    max-width: 935px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}

.main-section {
    width: 100%;
    max-width: 614px;
    padding-top: 30px;
    margin-top: 54px;
    margin-right: 28px;
}

.stories-container {
    background-color: #fff;
    width: 100%;
    max-width: 614px;
    height: 118px;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    margin-bottom: 24px;
}

.story-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gradient-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.story-ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
}

.story-ico img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.feed-container {
    width: 100%;
    max-width: 614px;
    background-color: inherit;
}

.feed-post {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid var(--borderColor);
}

.feed-post header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.feed-post header div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.post-header-left p {
    margin-left: 14px;
}

.image-itself {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.feed-post > img {
    min-width: 100%;
}

.post-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding: 0px 10px;
}

.post-menu ul {
    display: flex;
    justify-content: space-evenly;
}

.post-menu ul li {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.comments-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 20px;
}

.comments-info img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 4px;
}

.suggestions-container {
    width: 293px;
    margin: 0 auto;
    margin-top: 54px;
    padding-top: 30px;
    margin-bottom: 12px;
}

.suggestion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: inherit;
    margin-top: 18px;
    margin-bottom: 10px;
}

.suggestion-header-left-section {
    display: flex;
    justify-content: left;
    align-items: center;
}

.suggestion-header-left-section img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin-right: 15px;
}

.mid-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.suggestions {
    margin-bottom: 22px;
    margin-top: 10px;
}

.suggested-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 2px;
}

.suggested-profile-left-section {
    display: flex;
    justify-content: left;
    align-items: center;
}

.suggested-profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 12px;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: dotted;
    margin-bottom: 20px;
}

.menu li {
    margin-right: 5px;
}

.copyright {

}